/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-weight: bold;
  color: #777777;
  margin: 20px 0px 30px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
#formulaContainer {
	
}

.term, .operator {
	padding: 5px 10px 0 10px;
}
.term {
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	<!--border: 1px solid black; -->
	padding-top: 10px;
	cursor: default;
}
.compoundTerm {
	padding: 0;
}
.selected {
	cursor: pointer;
	background: orange;
}
.parent {
	background: #FFE271;
}
.Fraction .fractionBar {
	margin: 2px 0 1px 0;
	background: black;
}
.ghosted {
	color: white;
	background: white;
}
#ghostContainer {
	position: absolute;
}
#history-and-formula {
	text-align: center;
}
#history {
	margin: 0;
	padding: 0;
	margin-top: 40px;
	padding-top: 30px;
	border-top: 1px solid white;
}
#history li {
	color: gray;
	margin: 10px 0 15px 0;
}
#history .Fraction .fractionBar {
	background: gray;
}
#sandbox {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	background: #dddddd;
	min-height: 600px;
}
